@using Laceshop.Website.Code.Controllers.Basket
@model  Laceshop.Website.Code.Models.Checkout.BasketPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@*@Html.Partial("Partials/_Basket", Model.Basket)*@

<div class="container-fluid title">
    <div class="row">
        <div class="col-sm-12">
            <h2>Shopping Cart</h2>
        </div>
    </div>
</div>
<div class="container-fluid cart-list"> @*ng-controller="cartController"*@
  

    <div class="row">
        <basket>
            
        </basket>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4>INTERNATIONAL ORDERS</h4>
            <p>
                Shipping costs for international orders will be displayed at checkout.<br>
                All international orders must have a ship-to destination outside of the United States. We cannot support customers with international billing addresses shipping to U.S. addresses.
            </p>
        </div>
        <div class="col-sm-4 ">
            <a href="checkout.html" class="btn btn-right">Checkout</a>
        </div>
        <div class="col-sm-12 text-center show-more">
            <a href="index.html" class="btn btn-outline">Cancel and return to store</a>
        </div>
    </div>
</div>