@using Laceshop.Website.Code.Controllers.Basket
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Laceshop.Website.Code.Models.Products.ProductPageViewModel>
@{
    Layout = "Shared/_Layout.cshtml";
}


<div class="container-fluid product">
    <div class="row visible-xs product-mobile">
        <div class="col-xs-12 text-center">
            <h2 class="product-title">Tuscan urns</h2>
            <div class="product-price">
                <span class="price">14.00</span>
            </div>
        </div>
    </div>
    <div class="row">
        <product product-key="@Model.Product.Key">

        </product>
        <div class="row">
            <div class="col-sm-8 ">
                <div class="paging clearfix">
                    <a class="btn btn-outline pull-left" href="product2.html"><i class="icon-arrow-left2 left"></i><span>Previous</span><span class="hidden-xs"> Product</span></a>
                </div>
            </div>
        </div>
    </div>
</div>