<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BasketPage ANY>
<!ATTLIST BasketPage id ID #REQUIRED>
<!ELEMENT CheckoutAddress ANY>
<!ATTLIST CheckoutAddress id ID #REQUIRED>
<!ELEMENT CheckoutBegin ANY>
<!ATTLIST CheckoutBegin id ID #REQUIRED>
<!ELEMENT CheckoutFolder ANY>
<!ATTLIST CheckoutFolder id ID #REQUIRED>
<!ELEMENT CheckoutInvoice ANY>
<!ATTLIST CheckoutInvoice id ID #REQUIRED>
<!ELEMENT CheckoutPage ANY>
<!ATTLIST CheckoutPage id ID #REQUIRED>
<!ELEMENT CheckoutPayment ANY>
<!ATTLIST CheckoutPayment id ID #REQUIRED>
<!ELEMENT DeliveryPage ANY>
<!ATTLIST DeliveryPage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT PaymentPage ANY>
<!ATTLIST PaymentPage id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT Products ANY>
<!ATTLIST Products id ID #REQUIRED>
<!ELEMENT ReceiptPage ANY>
<!ATTLIST ReceiptPage id ID #REQUIRED>
<!ELEMENT Test ANY>
<!ATTLIST Test id ID #REQUIRED>

]>
<root id="-1">
  <Home id="2102" key="c864c635-8368-4a3f-a10b-faa6a8c6cb9f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-12-11T22:11:35" updateDate="2015-12-11T22:12:21" nodeName="Home" urlName="home" path="-1,2102" isDoc="" nodeType="2070" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2089" nodeTypeAlias="Home">
    <BasketPage id="2104" key="93760cf1-3c10-443c-81bc-66d5ca0cf932" parentID="2102" level="2" creatorID="0" sortOrder="0" createDate="2015-12-12T00:38:04" updateDate="2015-12-12T00:38:04" nodeName="Basket" urlName="basket" path="-1,2102,2104" isDoc="" nodeType="2075" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2096" nodeTypeAlias="BasketPage" />
    <CheckoutPage id="2105" key="7db74495-324b-43f3-9867-e441507cd604" parentID="2102" level="2" creatorID="0" sortOrder="1" createDate="2015-12-12T00:38:21" updateDate="2015-12-12T00:38:21" nodeName="Checkout" urlName="checkout" path="-1,2102,2105" isDoc="" nodeType="2080" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2091" nodeTypeAlias="CheckoutPage" />
    <DeliveryPage id="2106" key="87353e62-5fe5-4136-a7e0-6e5455066492" parentID="2102" level="2" creatorID="0" sortOrder="2" createDate="2015-12-12T00:38:33" updateDate="2015-12-12T00:38:33" nodeName="Delivery" urlName="delivery" path="-1,2102,2106" isDoc="" nodeType="2094" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2093" nodeTypeAlias="DeliveryPage" />
    <Products id="2107" key="7693ad15-5a6b-4485-ab5b-11d67fc402f2" parentID="2102" level="2" creatorID="0" sortOrder="3" createDate="2015-12-12T00:39:15" updateDate="2015-12-12T00:39:15" nodeName="Products" urlName="products" path="-1,2102,2107" isDoc="" nodeType="2068" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2103" nodeTypeAlias="Products">
      <Product id="2109" key="4dcef1ed-3c0c-4301-94c9-14154dd627c7" parentID="2107" level="3" creatorID="0" sortOrder="0" createDate="2015-12-12T00:40:09" updateDate="2015-12-12T00:40:21" nodeName="Product1" urlName="product1" path="-1,2102,2107,2109" isDoc="" nodeType="2067" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2108" nodeTypeAlias="Product">
        <product><![CDATA[445a79c5-e359-4e39-b2bd-f10ec1e0dc26]]></product>
        <productdescription><![CDATA[Description for product 1]]></productdescription>
      </Product>
      <Product id="2110" key="69659091-157d-45d6-aaac-a93bd6165405" parentID="2107" level="3" creatorID="0" sortOrder="1" createDate="2015-12-12T00:40:37" updateDate="2015-12-12T00:40:37" nodeName="product2" urlName="product2" path="-1,2102,2107,2110" isDoc="" nodeType="2067" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2108" nodeTypeAlias="Product">
        <product><![CDATA[6b0addbd-d511-4e7c-aeec-fc9a4225628e]]></product>
        <productdescription><![CDATA[Description for product2]]></productdescription>
      </Product>
    </Products>
    <PaymentPage id="2113" key="a85143d8-d0d8-4907-a767-615ed822a3de" parentID="2102" level="2" creatorID="0" sortOrder="4" createDate="2015-12-13T22:30:11" updateDate="2015-12-13T22:30:11" nodeName="Payment" urlName="payment" path="-1,2102,2113" isDoc="" nodeType="2112" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2111" nodeTypeAlias="PaymentPage" />
    <ReceiptPage id="2116" key="099b0af9-7a25-42e2-b4eb-20bc97fb13e8" parentID="2102" level="2" creatorID="0" sortOrder="5" createDate="2015-12-14T19:32:21" updateDate="2015-12-14T19:32:21" nodeName="Receipt" urlName="receipt" path="-1,2102,2116" isDoc="" nodeType="2115" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2114" nodeTypeAlias="ReceiptPage" />
  </Home>
  <Test id="2100" key="03217e73-a724-4087-9e8f-05051599cc03" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-12-11T22:10:38" updateDate="2015-12-11T22:12:18" nodeName="rwar" urlName="rwar" path="-1,2100" isDoc="" nodeType="2099" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="2098" nodeTypeAlias="Test" />
</root>