<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Basket ANY>
<!ATTLIST Basket id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT Products ANY>
<!ATTLIST Products id ID #REQUIRED>

]>
<root id="-1">
  <Home id="2071" key="26f487c5-eeae-4af2-99a0-79367c3521f3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-12-07T20:55:22" updateDate="2015-12-07T20:55:22" nodeName="Home" urlName="home" path="-1,2071" isDoc="" nodeType="2070" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="0" nodeTypeAlias="Home">
    <Products id="2072" key="0b7d9bd0-49fb-425e-84c9-896ee51c0943" parentID="2071" level="2" creatorID="0" sortOrder="0" createDate="2015-12-07T20:55:34" updateDate="2015-12-07T20:55:34" nodeName="Products" urlName="products" path="-1,2071,2072" isDoc="" nodeType="2068" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="0" nodeTypeAlias="Products">
      <Product id="2073" key="cf498bae-3e4b-4df9-9e3d-7c2b59d7d9d5" parentID="2072" level="3" creatorID="0" sortOrder="0" createDate="2015-12-07T20:56:07" updateDate="2015-12-07T21:28:00" nodeName="Product Number 1" urlName="product-number-1" path="-1,2071,2072,2073" isDoc="" nodeType="2067" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="0" nodeTypeAlias="Product">
        <product><![CDATA[445a79c5-e359-4e39-b2bd-f10ec1e0dc26]]></product>
        <productdescription><![CDATA[Here is a description of the first product we have.]]></productdescription>
      </Product>
      <Product id="2074" key="037fff7d-c6d1-47bd-bd12-92e240481af4" parentID="2072" level="3" creatorID="0" sortOrder="1" createDate="2015-12-07T20:56:37" updateDate="2015-12-07T20:57:56" nodeName="Product number 2" urlName="product-number-2" path="-1,2071,2072,2074" isDoc="" nodeType="2067" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="1057" nodeTypeAlias="Product">
        <product><![CDATA[6b0addbd-d511-4e7c-aeec-fc9a4225628e]]></product>
        <productdescription><![CDATA[Secondary product]]></productdescription>
      </Product>
    </Products>
    <Basket id="2077" key="1a3ba8c8-81da-43e6-804c-c142d2fe2d0c" parentID="2071" level="2" creatorID="0" sortOrder="1" createDate="2015-12-07T21:49:23" updateDate="2015-12-07T21:49:23" nodeName="Basket" urlName="basket" path="-1,2071,2077" isDoc="" nodeType="2075" creatorName="Niclas Schumacher" writerName="Niclas Schumacher" writerID="0" template="0" nodeTypeAlias="Basket" />
  </Home>
</root>