<div class="col-sm-8 ">
	<mediaslider slides="$ctrl.slides">

    </mediaslider>
</div>
<div class="col-sm-4 ">
    <h2 class="product-title hidden-xs">{{$ctrl.variant.Name}}</h2>
    <div class="product-price hidden-xs">
        <span class="price">{{$ctrl.product.Product.Price | currency}} </span>
    </div>
    <div class="product-detail">
        {{$ctrl.product.Product.Description}}
    </div>

	<div class="form-group clearfix" ng-repeat="variantOption in $ctrl.product.VariantOptions">
		<label class="control-label">{{variantOption.Name}}</label>
		<select ng-model="variantOption.model" ng-change="$ctrl.update(variantOption)" class="form-control" id="OptionKeys">
			<option ng-repeat="option in variantOption.Options" value="{{option.Key}}">{{option.Name}}</option>
		</select>
		{{variantOption.model}}
	</div>
	<div class="inventory-status">
		<span class="low-inventory red" ng-if="$ctrl.variant.InventoryCount === 0">
			Varen er udsolgt
		</span>
		<span class="low-inventory yellow" ng-if="$ctrl.variant.InventoryCount > 0 && $ctrl.variant.InventoryCount <= 10">
			Der er kun {{$ctrl.variant.InventoryCount}} tilbage!
		</span>
		<span class="available-inventory green" ng-if="$ctrl.variant.InventoryCount > 10">
			På lager
		</span>
		
	</div>
    <div class="product-btn">{{$ctrl.amountMax}}
        <input type="number" ng-model="$ctrl.amount" max="{{$ctrl.amountMax}}" min="0"/>
        <input type="button" class="btn" ng-click="$ctrl.addToBasket()" ng-disabled="$ctrl.variant.InventoryCount <= 0" value="Add To Cart" />
    </div>
</div>
